@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Eczar:wght@400..800&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: azure;
    display: flex;
    flex-direction: column;
}
header{
    background: rgb(108,107,107);
background: linear-gradient(0deg, rgba(108,107,107,1) 0%, rgba(0,0,0,1) 78%);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    font-family: Caveat;
    background-image: url(../img/cidade.png);
    background-size: cover;
    height: 700px;
    font-size: 30px;
}
.topo{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
footer{
    background: rgb(217, 6, 6);
background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgb(110, 110, 110) 80%, rgba(108,107,107,1) 100%);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
footer > img{
    width: 200px;
    height: 60px;
}
main{
    flex: 1;
    padding: 20px;
    background-color: azure;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Oswald;
    color: rgb(0, 0, 0);
    justify-content: space-between;
}
.logo{
    width: 80px;
    height: 80px;
}
a{
    text-decoration: none;
    color: azure;
}
a:hover{
    text-decoration: underline;
    color: rgb(201, 38, 38);
}
.meio-meio{
    display: flex;
}
.ajuste{
    height: 500px;
    width: 600px;
    margin-top: 100px;
}
.limite{
    width: 600px;
    margin-right: 200px;
}