@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* Acegura que padding e margin sejam
    incluidos nas dimensões totais do elemento */
    box-sizing: border-box;
}
.logo{
    font-family: Edu Australia VIC WA NT Hand Guides;
    font-size: 2rem;
}